.education-section {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  &__title {
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      width: 40%;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 160%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__img {
    width: 100%;
    border-radius: 48px;
  }
}
