.platforms-section {
  text-align: center;
  background-color: var(--color-brand-light);
  padding: 74px 0;

  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--color-secondary);
  }

  &__logos {
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;

    @media (min-width: $bp-mobile) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $bp-tablet) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $bp-desktop) {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  &__link {
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }
  }
}
